@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Couleurs primaires */
  --primary-green-500: hsl(158, 36%, 37%);
  --primary-green-700: hsl(158, 42%, 18%);

  /* Couleurs neutres */
  --neutral-black: hsl(212, 21%, 14%);
  --neutral-grey: hsl(228, 12%, 48%);
  --neutral-cream: hsl(30, 38%, 92%);
  --neutral-white: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-cream);
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
}

.container{
    width: 500px;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-white);
    border-radius: 12px;
}

.detail{
    padding: 1.2em;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image{
    height: 100%;
    width: 50%;
    
    
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
}

.subtitle{
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--neutral-grey);
}

.title{
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 1.8em;
}

.description{
    font-weight: 500;
    color: var(--neutral-grey);
}

.price{
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 1.8em;
    color: var(--primary-green-500);
    display: flex;
    position: relative;
    align-items: center;
}

.underline{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    color: var(--neutral-grey);
    text-decoration:line-through;
    position: absolute;
    left: 120px;

}

.button{
    padding: 12px 16px;
    color: var(--neutral-white);
    background-color: var(--primary-green-500);
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-weight: 600;
}

.button:hover{
    background-color: var(--primary-green-700);
    transform: scale(0.95);
    
     
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@media(max-width:35em){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 20px;
        height: auto;
    }
    .image{
    width: 100%;
    height: 200px;
    }
    .image img{
        object-fit: cover;
    }

    .detail{
        width: 100%;
    }
}